.nav {
    display: flex;
    padding: 39px 0 39px 123px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
}
.item {
    list-style: none;
    margin-right: 48px;
}

.item a{
    text-decoration: none;
   text-transform: uppercase;
    color: #fff;
    border: 2px solid transparent;
    margin: 0;
    position: relative;
}
a span {
    font-weight: bold;
}

.item .active:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
    left: 0;
    right: 0;
    bottom: -39px;
}
