
.destinationButtons{
    width: 50%;
    margin-left: auto;
}

.destinationBodyContent {
    padding-top: 40px;
}
.destinationButton {
    background-color: transparent;
    margin-right: 27px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    padding-bottom: 12px;

    position: relative;
}

.destinationButton:last-child {
    margin-right: 0;
}
.destinationButton[aria-selected="true"]{

    color: white;
    border-bottom: 3px solid white;
}
